table, th, td {
  border: 1px solid;
}

td {
padding:10px 25px 10px 25px;
}
tr{
  text-align: center;
}
th{
  padding-top: 10px;
  padding-bottom: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 50px 0;
}
